{% extends "admin/base_site.html" %}
{% load i18n static %}
{% load admin_urls %}
{% load crispy_forms_tags crispy_forms_field %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}">{% endblock %}
{% block bodyclass %}{{ block.super }} {{ opts.app_label }}-{{ opts.model_name }} change-form{% endblock %}

{% block content %}<div class="w-100" id="content-main">
<form{% if form_url %} action="{{ form_url }}"{% endif %} method="post" id="{{ opts.model_name }}_form">{% csrf_token %}{% block form_top %}{% endblock %}
<input type="text" name="username" value="{{ original.get_username }}" style="display: none">
<div>
{% if is_popup %}<input type="hidden" name="_popup" value="1">{% endif %}
<div class="container mt-3">
  <div class="row">
    <div class="col-12">
      {% if form.errors %}
      <p class="errornote text-danger">
        {% if form.errors.items|length == 1 %}{% translate "Please correct the error below." %}{% else %}{% translate "Please correct the errors below." %}{% endif %}
      </p>
      {% endif %}
    </div>
    <div class="col-12">
      <p>{% blocktranslate with username=original %}Enter a new password for the user <strong>{{ username }}</strong>.{% endblocktranslate %}</p>
    </div>
  </div>
</div>

<fieldset class="module aligned">
<div class="row">
  <div class="col-6">
    <div class="form-row">
      <div class="form-group col-12">
        <div class="form-label-group">
          {{form.password1.label_tag}}
          {% crispy_field form.password1 'placeholder' form.password1.label %}
          <div class="invalid-feedback">
            {{ form.password1.errors }}
          </div>
        </div>
      </div>
      <div class="form-group col-12">
        <div class="form-label-group">
          {{form.password2.label_tag}}
          {% crispy_field form.password2 'placeholder' form.password2.label %}
          <div class="invalid-feedback">
            {{ form.password2.errors }}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-6 small">
    {% if form.password1.help_text %}
    <div class="help">{{ form.password1.help_text|safe }}</div>
    {% endif %}
    {% if form.password2.help_text %}
    <div class="help">{{ form.password2.help_text|safe }}</div>
    {% endif %}
  </div>
</div>

</fieldset>

<div class="container">
  <div class="row justify-content-end">
    <div class="col-auto">
      <input type="submit" class="btn btn-primary" value="{% translate 'Change password' %}">
    </div>
  </div>
</div>

</div>
</form></div>
{% endblock %}
